body
      {background-color: white;
      
    }
    



.info {width: 500px;
margin: 20px auto;
position: relative;
top: -20px;
left: 20px;

}


.mastspot {float:center;
position:absolute;
width: 1200px;
top: -10px;

}






img 
{position: relative;
  
 width: 400px;
}


h1{
   color:black;
   font-family: Sentinel, bold;
   font-weight: normal;
   font-size: 36pt;
   margin-top: 50px;

}

h2 {color:white;
  font-family: LFT Etica;
  font-size : 16pt; 
}

h4 {color: #555a5b;
   font-family: Sentinel; Regular;
font-weight: lighter;
}


div{
    color: white;
width: 50%;
float:left;
}



a {margin-bottom: 400px;
;
}

p
    {color: black;
     font-family: National; Regular;
     font-size: 18px;
  ;
    
  }

 
  }

 


